<html lang="en-US">
    <head>
        <title>Food on one click</title>
        <meta charset="UTF-8">
        <meta name="author" content="Maaz Khan">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="food on one click, online food, pizza, burger, order food online">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"  crossorigin="anonymous" />
        <link rel="stylesheet" href="/stylesheets/main.css">
        
    </head>
    <body>
        <div class="homePageBanner">
            <img class="ui image tiny inline logo" src="/images/icon.png" alt="hamburger">
            <h1 class="ui inline title ">Food on one click</h1>
        
         
            